#chat-section {
    display: none;
}

#username-section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
}

.username-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bottom-msg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
}

#messages {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow-y: scroll;
}

.message-top {
    display: flex;
    justify-content: space-between;
}

.sender {
    color: blue;
}

.message {
    margin-top: 5px;
}

.message-container {
    height: 100px;
    background-color: rgb(247,248,249);
    margin: 5px;
    border-radius: 20px;
    opacity: 0.5;
    &:hover {
        opacity: 1;
        transition: 0.5s;
    }
}

#input-msg {
    flex-grow: 9;
}

#send-msg-btn {
    flex-grow: 1;
}